
<table>

  <tr>
    <th>Recipe Name</th>
    <th>Ingridents</th>
    <th>Description</th>
    <th>Instructions</th>

  </tr>
  <% @recipes_details.each do |detail| %>
  <tr>
    <td><%= detail['name']%></td>
    <td><%= detail['ingredient_name']%></td>
    <td><%= detail['description']%></td>
    <td><%= detail['instructions']%></td>

  </tr>
  <% end %>

</table>
